body
{
    /*Cambie la fuente a una que le agrade*/
}

#fondo
{
    /*cambie el color del fondo a uno que les agrade*/
    background-color: black;
    /*ancho y alto es width y height*/
    width: 500px;
    height: 280px;
    margin:10px;
    /*¿Cómo se redondean los bordes?*/
    /*border-...*/
    /*¿Qué hace esto?*/
    overflow: auto;
    position: relative;
    display: inline-block;
     
}

#titulo
{
    color: white;
    text-align: center;
    float: inline-start;
}

#imagen
{
    /*ponga un margen de 10 pixeles a la imagen*/
    
    /*Esto hace que se pegue a la izquierda*/
    float: left;
    background-color: black;
   
      
}

#poema
{
    
    color:white;
    text-align: center;    
    top: 40%;
    /*left: 20%;*/
    position: absolute;
    width:50%;
    height:50%;
}

#foto
{

    /*Width y margin están mal, por eso la imagen no cuadra*/
    width:50%;
    height:auto;
    position: relative;
    display: inline-block;
    /*margin: 15%;*/

    background-color: white;

}

#integrantes
{
    width:45%;
    height:auto;    
    border-radius: 15px;
    margin: 10px;
    color: white;
    background-color: blue;
    float:right;


}
li
{
    margin: 1%;
}


*/