#body {
   margin: 40px;
}

#cab{
	position: relative;
	text-align: center;
	padding-bottom: 30px;
}

img#senador1 {
  position: absolute;
  margin-top: 15%;
}

img#senador2 {
 position: absolute;
 margin-left: 40%;
 margin-top: 0;
}
img#senador3 {
 position: absolute;
 margin-top: 0;
}
