﻿body
{
}

#fondo
{
    background-color: green;  
    width: 550px;
    height:300px;
	overflow:auto;
}

#titulo
{
	text-align:center;
	font-size: 50px;
    color: black;
	margin:10px;
}

#imagen
{
    float: left;
    background-color: red;
    margin:10px;
}

#foto
{
    margin: auto;
}

#integrantes
{
    margin: 10px;   
    color: black;
    background-color: gray;    
    float:right;
	height:175px;
}
li
{
    margin: 1%;    
}

.tituloInterno
{
    text-align: center
}