.global
{
    overflow:visible;
}

/*.carta
{
    background-image: url('piedras.jpg');
}*/
.cartaNegro
{
    background-color:black;

}

.cartaAzul
{
    background-color:blue;

}

.cartaBlanco
{
    background-color:white;

}

.caja 
{
    background-color: white;
}
.centrado
{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;  
    overflow:auto;     
}

.imagen
{    
    width:100%;    
}


@media  screen and (max-width: 600px)
{
    h1{        
        color:red;
    }

    .centrado
    {
        margin: auto;
        width: 100%;
        border: 3px solid green;
        padding: 10px;
        text-align: center;  
        overflow:visible;  
        box-sizing:border-box;
    }
}
