body
{
    /*Cambie la fuente a una que le agrade*/
}

#fondo
{
    /*cambie el color del fondo a uno que les agrade*/
    background-color: black;  
    /*ancho y alto es width y height*/
    width: 500px;
    /*¿Cómo se redondean los bordes?*/
    /*border-...*/
    /*¿Qué hace esto?*/
    overflow: auto;
}

#titulo
{
    color: white;
    text-align: center;
    float: inline-start;
}

#imagen
{
    /*ponga un margen de 10 pixeles a la imagen*/
    width: auto;
    height: auto;
    /*margin*/
    margin: 10px;
    /*Esto hace que se pegue a la izquierda*/
    float: left;
    background-color: black;
    
}

#foto
{    
    /*Width y margin están mal, por eso la imagen no cuadra*/
    width: 50%;
    height: auto;
    margin: auto;    
    background-color: black;    
}

#integrantes
{
    border-radius: 10px;
    margin: 10px;   
    color: white;
    background-color: blue;    
    float:right;        
}
li
{
    margin: 1%;    
}

.tituloInterno
{
    text-align: center
}