body
{
    /*Cambie la fuente a una que le agrade*/
}

#fondo
{
    /*cambie el color del fondo a uno que les agrade*/
    background-color: white;  
    /*ancho y alto es width y height*/
    width: 500px;
    /*¿Cómo se redondean los bordes?*/
    /*border-...*/
    /*¿Qué hace esto?*/
    overflow: auto;
}

#titulo
{   font-size:48px;
    color: grey;
    text-align: center;
    float: inline-start;
}

#imagen
{
    /*ponga un margen de 10 pixeles a la imagen*/
    /*margin*/
    /*Esto hace que se pegue a la izquierda*/
    width: 35%;
    height: 50%;
    float: left;
    background-color: white;
    
}

#foto
{
    
    /*Width y margin están mal, por eso la imagen no cuadra*/
    width: 150%;
    height:auto;
    
    margin: 15%;
    
    background-color: white;
    
}

#integrantes
{   height: 28%;
    border-radius: 20px;
    margin: 25px;   
    color: white;
    background-color: red;    
    float:right;     
    
   
}
li
{
    margin: 1%;    
}

.tituloInterno
{
    text-align: center
}